<!-- Footer -->
<footer class="footer bg-primary text-white text-center">
    <!-- Grid row-->
    <div class="bg-light">
        <br />
    </div>
    <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-12">
            <div class="mb-3 flex-center">

            <!-- Facebook -->
            <a class="fb-ic text-white" href="http://facebook.com/mcmastercs">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!-- Twitter -->
            <a class="tw-ic text-white" href="http://twitter.com/mcmastercs">
            <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Linkedin -->
            <a class="li-ic text-white">
            <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic text-white" href="http://instagram.com/mcmastercs">
            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Copyright -->
    <div class="bg-light text-muted text-center"><small>© 2019 Copyright:
        <a href="https://csaindustrynight.ca" class="text-muted"> CSA Industry Night</small></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->