<!-- Footer -->
<footer class="footer bg-primary text-white text-center">
    <!-- Grid row-->
    <div class="bg-light">
        <br />
    </div>
    <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-12">
            <div class="mb-3 flex-center">

            <!-- Facebook -->
            <a class="fb-ic text-white" href="http://facebook.com/mcmastercs">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!-- Twitter -->
            <a class="tw-ic text-white" href="http://twitter.com/mcmastercs">
            <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Linkedin -->
            <a class="li-ic text-white">
            <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic text-white" href="http://instagram.com/mcmastercs">
            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Copyright -->
    <div class="bg-light text-muted text-center"><small>© 2019 Copyright:
        <a href="https://mcmastercs.ca" class="text-muted"> McMaster CS Society: CSA Industry Night</small></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- These must be here in this order-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="assets/js/fontawesomeall.js"></script>