{% include head.html %}
  <body class="bg-light">
    {% include navigation.html %}

    <div class="container">
      <div class="row justify-content-center p-3">
        <div>
          <h1>Welcome to CSA Industry Night!</h1>
          <h2 class="lead">Below you can find information on employers and their locations for the event.</h2>
        </div>


        <div class="accordion col-sm-12">
          <div class="card p-3">
            {% for employer in site.data.employers %}
            <div class="card-header" id="heading{{ employer.name }}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ employer.name }}" aria-expanded="false" aria-controls="{{ employer.name }}">
                    {{ employer.name }}
                  </button>
                </h5>
            </div>

            <div id="{{ employer.name }}" class="collapse" aria-labelledby="collapse{{ employer.name }}" data-parent="#accordion">
                <div class="card-body">
                  <img src="/assets/images/{{ employer.image }}" class="card-img-top" alt="Logo" style="padding: 0.5rem">
                  <h5 class="card-title">{{ employer.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ employer.location }}</h6>
                  {{ employer.description }}
                  <a href="{{ employer.site }}" class="btn btn-primary">Employer's Site</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  
  </body>
</html>