{% include head.html %}
  <body class="bg-light">
    {% include navigation.html %}

    <div class="container">
      <div class="row justify-content-center p-3">
        <div>
          <h1>Welcome to CSA Industry Night!</h1>
          <h2 class="lead">Below you can find information on employers and their locations for the event.</h2>
        </div>


        <div class="accordion col-sm-12">
          <div class="card p-3">
            {% assign employers_by_location = (site.data.employers | sort: 'location') | reverse %}
            {% for employer in employers_by_location %}
            <div class="card-header text-center" id="heading{{ employer.name }}">
                <h4 class="mb-0">
                  <button style="font-size: 1.5rem" class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ employer.name }}" aria-expanded="false" aria-controls="{{ employer.name }}">
                    {{ employer.name }}
                  </button>
                  {%if employer.name == "AMD" %}
                  <h4>Employer of the Week</h4>
                  {% endif %}
                  <h6 class="text-muted">{{ employer.location }}</h6>
                </h4>
            </div>

            <div id="{{ employer.name }}" class="collapse" aria-labelledby="collapse{{ employer.name }}" data-parent="#accordion">
                <div class="card-body">
                  {%if employer.image %}
                  <img src="/assets/images/{{ employer.image }}" class="card-img-top mx-auto d-block logoImg" alt="Logo">
                  {% endif %}
                  <h5 class="card-title">{{ employer.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ employer.location }}</h6>
                
                  {{ employer.description }}
                  <a href="{{ employer.site }}" class="btn btn-success d-block">Employer's Site</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="position-fixed" style="bottom: 1rem; right: 1rem; z-index: 99;">
        <a href="/assets/images/layout.png" target="_blank">
          <button type="button" class="btn btn-danger text-light">
            Layout
          </button>
        </a>
      </div>
    </div>

    {% include footer.html %}
  
  </body>
</html>